{
  "ENV_NAME": "",
  "AUTH_SECRET_KEY": "",
  "DYNAMO_DB_HOST": "",
  "DYNAMO_DB_TRACKING_TABLE": "",
  "DYNAMO_DB_TOTALS_TABLE": "",
  "PS_HOST": "",
  "PS_PORT": "",
  "PS_USER": "",
  "PS_PASSWORD": "",
  "PS_DATABASE": "",
  "FINDMCSERVER_EXPORT_DATA_QUEUE": ""
}
