{
  "ENV_NAME": "",
  "NODE_RUNTIME": "",
  "AUTH_SECRET_KEY": "",
  "ANTROPIC_API_KEY": "",
  "OPEN_AI_API_KEY": "",
  "PS_HOST": "",
  "PS_PORT": "",
  "PS_USER": "",
  "PS_PASSWORD": "",
  "PS_DATABASE": "",
  "PRESENTATION_QUEUE_INFO": ""
}
