.env
node_modules
assets/presentations/*
!assets/presentations/.gitkeep
assets/images/*
!assets/images/.gitkeep
.esbuild
node_modules
jspm_packages
.serverless
.build
.nyc_output
coverage
package-lock.json
out-logger.json
.DS_Store
config/*
!config/env.stage.example.json
.idea/